<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="control_coil" value="http://123.45.67.89:1880/set_bit" />
	</appSettings>

	<connectionStrings>
		<!--chuỗi kết nối đặt ở đây, edit thoải mái nếu thay đổi nơi lưu-->
		<add name="cnstr" connectionString="Server=localhost,49259;Database=QLDien;User Id=sa;Password=123;" providerName="sql"/>
	</connectionStrings>

	<system.web>
		<!--Đổi tên của session id, mặc định nó là ASP.NET_SessionId-->
		<sessionState cookieName="sid" />
		<compilation debug="false"></compilation>
		<authentication mode="Windows" />
	</system.web>

	<system.webServer>

		<security>
			<!--thêm cái để IIS cho phép download các file có phần mở rộng dưới đây-->
			<requestFiltering>
				<fileExtensions>
					<add fileExtension=".webmanifest" allowed="true" />
					<add fileExtension=".svg" allowed="true" />
					<add fileExtension=".ttf" allowed="true" />
					<add fileExtension=".eot" allowed="true" />
					<add fileExtension=".woff2" allowed="true" />
				</fileExtensions>
			</requestFiltering>
		</security>

		<httpProtocol>
			<!--thay đổi header: bớt đi mấy cái đặc trưng của asp dot net-->
			<customHeaders>
				<remove name="X-Powered-By" />
				<remove name="X-AspNet-Version" />
				<remove name="Server" />
			</customHeaders>
		</httpProtocol>

	</system.webServer>

</configuration>
